@charset "UTF-8";
/* CSS Document */

body
{color: #1E4A49;
background: #fff!important;
font-family: 'Raleway', sans-serif!important;
	font-weight:600;
}
a:focus, a:hover {
  text-decoration: none;
  color: #F1941B;
}
p, li{
	font-weight:400!important;
}
.bg-index{
	background:#336669 url("../images/fondo_login.jpg")!important;
	background-size:cover!important;
	height:100vh;
	background-repeat:no-repeat!important;
	background-attachment:fixed!important;
}
.frase-intro{
	background: rgba(255, 255, 255, 0.8);
	height:100vh;		
}
.logueo{
	background:url("../images/curva-bg-80.png") -1px center no-repeat;
	height:100vh;
	background-size: contain;

}
.frase-intro img{
	max-width:350px;
	margin-top:30vh;		
}
.frase-intro h2{
	font-weight:600;
	font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
}
.ingreso{
	margin-top:30vh;
}
.ingreso .form-group{
	margin-top:30px;
}
.ingreso input[type=number]::-webkit-inner-spin-button,
.ingreso input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.ingreso input[type=number] { 
	-moz-appearance:textfield; 
}
.ingreso form label{
	color:#fff;
	font-size:16px;
	font-weight:600!important;
	margin-bottom:0.5rem;	
}
.ingreso .form-control {
  height: calc(2em + .75rem + 2px)!important;
  border: 0px!important;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button[type="submit"].ingresar{
	background:#82AC29;
	width:100%;
	font-weight:700;
	font-size:18px;
	height: calc(2em + .75rem + 2px)!important;
	border:1px solid #82AC29;
	margin-top:1rem;
}
button[type="submit"].ingresar:hover,
button[type="submit"].ingresar:focus{
	background:#F1941B;
	border:1px solid #F1941B;
}
a.ingresar{
	background:#82AC29;
	width:100%;
	font-weight:700;
	font-size:18px;
	height: calc(2em + .75rem + 2px)!important;
	border:1px solid #82AC29;
	margin-top:1rem;padding:10px 0;
}
a.ingresar:hover,
a.ingresar:focus{
	background:#F1941B;
	border:1px solid #F1941B;
}
p.no-esta,
.troca{
	color:#fff;
	font-weight:600;
}
p.no-esta a{
	color:#ACDD33;
}
p.no-esta a:hover,
p.no-esta a:focus
{
	color:#FFAA45;
}
span.troca{
	padding-top:20vh;
}
.modal-header{
	border-bottom:none!important;
}
.tipo-persona .modal-body{
	padding: 2rem;
}
.tipo-persona .modal-body p,
.tipo-persona .modal-body li{
	font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
	font-weight:600!important;
}
button[type="button"].close{
	color:#F1941B;
	font-weight:600!important;
	font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1600 - 300)))!important;
	margin-top: 0px;
	margin-right:0px;
	border-radius:16px;
}
.modal-footer{
	border-top:none;
	justify-content: center!important;
	padding-bottom:2rem;
}
.bot{
	 border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.57143;
    padding: 10px 30px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s, width 0.2s linear 0s, background-color 0.2s linear 0s;
    border: none;
    background: #999;
    color: #fff;
	margin: 10px 2px 5px 2px;
	font-weight:700;
	display:inline;
	color:#fff;
}
.verde{
	background:#82AC29;
}
.peque{
	font-size:12px;
	 padding: 8px 20px;
}
.bot:hover, .bot:focus{
	color:#fff;
	text-decoration:none;
}
.verde:hover, .verde:focus{
	background:#F1941B;
}
/***********FORMULARIO DE REGISTRO*************/
.formulario{
	background:#fff;
	border-radius:5px;
	margin:80px 0;
	padding-bottom:70px;
}

.formulario h2{
	font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
	font-weight:600;
}
.formulario label,
.tab-content label{
	font-weight:600!important;
	margin-bottom:10px;
}
.custom-select {
    background: #fff url("../images/select.svg") right 0.75rem center/10px 14px no-repeat;
	}
.formulario input[type=number]::-webkit-inner-spin-button,
.formulario input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.form-control,
.custom-select,
.custom-file-input{ 
	border: 1px solid #748483!important;
}
.form-group{
	margin-bottom:0px!important;
}
select.custom-select option{
	color:#748483!important;
}

label.custom-control-label{
	font-weight:normal!important;
	font-size:14px!important;
	height: auto !important;
	/*position:absolute!important;*/
	left:0!important;
}
.formulario input[type=number] {
	-moz-appearance:textfield; 
}
::-webkit-input-placeholder {
    color:    #748483!important;
}
:-moz-placeholder {
    color:    #748483!important;
}
::-moz-placeholder {
    color:    #748483!important;
}
:-ms-input-placeholder {
    color:    #748483!important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #82AC29!important;
  background-color: #82AC29!important;
}
[type="checkbox"]:checked + label::before {
  top: 0px;
  left: 0px;
  width: 18px!important;
  height: 18px!important;
  border-top: 2px solid transparent;
    border-top-color: transparent;
  border-left: 2px solid transparent;
    border-left-color: transparent;
  border-right: 2px solid #26a69a;
    border-right-color: rgb(38, 166, 154);
  border-bottom: 2px solid #26a69a;
    border-bottom-color: rgb(38, 166, 154);
  -webkit-transform:none!important;
  transform:none!important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.formulario .custom-checkbox a{
	color:#72931F;font-weight:700;
}
.formulario .custom-checkbox a:hover,
.formulario .custom-checkbox a:focus{
	color:#F1941B;
}
button[type="button"].enviar{
	background:#82AC29;
	color:#fff;
	font-weight:700;
	border-radius:5px;
	padding:15px 50px;
	border:0px #82AC29;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}
button[type="button"].enviar:hover,
button[type="button"].enviar:focus{
	background:#F1941B;
	border:0px #F1941B;
}
.btn-danger{
	background:#F1941B;
	border:1px solid #F1941B;
}
.btn-danger:hover,
.btn-danger:focus{
	background:#EF631D;
	border:1px solid #EF631D;
	box-shadow:none!important;
}

/***********PÁGINA DEL PERFIL**************/
.cabecera{
	background:#fff;
}
.logo-sec{
	margin:10px 0;
	max-width:170px;
}
.cabecera .menu-sup a{
	color:#98B2B3!important;
}
.cabecera .menu-sup a:hover,
.cabecera .menu-sup a:focus{
	color:#1E4A49;
}
.fa-plus-circle{color:#F1931A;}
.dropdown-menu.show{
	left:-20px!important;
	border:1px solid #F1941B;
	text-align:center;
	padding:0;
	
}
.cabecera .menu-sup a.dropdown-item{
	padding: .85rem 1rem;
	color:#1E4A49!important;
	font-weight:600!important;
}
.cabecera .menu-sup a.dropdown-item:hover,
.cabecera .menu-sup a.dropdown-item:focus{
	background:#F1941B;
	color:#fff!important;	
}
#dropdownAlert{position:relative;}
.badge-danger {
  color: #fff;
  background-color: #fc4b6c;
  position: absolute;
  right: 5px;
}
.badge {
  display: inline-block;
  padding: 3px 3px;
  font-size: .5rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: 5px;
}
.buscador{
	border-top:1px solid #9DB2B2;
}
.btn-busqueda {
  color: #fff;
  background-color: #F1941B;
  border-color:#F1941B;
}
.buscador .form-control {
  border: 1px solid #F1941B;
  height: calc(2em + .75rem + 2px);
}

/**********PERFIL**********/
.perfil{
	background:#fff;
	border-radius:10px;
	padding-top:30px;
}
.img-redonda{
	clip-path: circle();
}
.nombre{
	font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
	text-align:center;
	margin:20px 0 30px 0;
	font-weight:600;
	line-height:1.1;
}
a.editar-perfil{
	background:#82AC29;
	color:#fff;
	border-radius:5px;
	padding: 10px 30px;
	font-weight:600;
}
a.editar-perfil:hover,
a.editar-pefil:focus{
	background:#326668;
}
span.fas.fa-edit{
	color:#829E9E;
	font-weight:400!important;
}
.horas{
	font-size: calc(60px + (40 - 60) * ((100vw - 300px) / (1600 - 300)));/*más grande en movil que en escritorio*/
	font-weight:600;
	color:#F1931A;
	text-align:right!important;
	letter-spacing: -3px;
}
.contenidos{	
}
.contenidos .nav-link {
  display: block;
  padding: 0.8rem!important;
}
.nav-item i.fa-plus-circle{color:#F1941B;}
.disponibles p{
	font-size: 15px!important;
	font-weight:600!important;
	margin-top:0.5rem!important;
}
.nav-tabs .nav-item {
  margin-right: 2px!important;
}
.ayudas ul{
	display:inline;
	list-style: none;
	margin-left:0!important;
	padding-left:0!important;
	text-align:center;
}
.ayudas ul li{
	display:inline;
	margin: 0 10px;
}
.ayudas ul li a:hover,
.ayudas ul li a:focus{
	color:#f1931a;
}
.score {
  display: block;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
.score-wrap {
  display: inline-block;
  position: relative;
  height: 19px;
}
.score .stars-active {
  color: #82AC29;
  position: relative;
  z-index: 10;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
 .score .stars-inactive {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: initial;
  /* overflow: hidden; */
}
.nav-tabs .nav-link {
  background-color:rgba(255,255,255,0.20);
  color:#fff!important;
	font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1600 - 300)));
	font-weight:800!important;
}
.nav-tabs .nav-link.active {
  color:#1E4A49!important;
}
.contenidos .tab-content{
	background:#fff;
	padding:25px;
}
.tab-content h3{
	color:#336669;
	font-weight:600;
}
.tab-content .form-group{
	margin-bottom:20px!important;
}
h3.seleccione{
 font-size: 1rem;	
 font-weight:600;	
}
span.banco{
	font-size:0.9rem;
}
.tab-content .card{
	background:#E8EFED;	
}
.etiqueta{
	font-size: calc(11px + (13 - 11) * ((100vw - 300px) / (1600 - 300)))!important;
	padding:5px 12px;
	position:absolute;
	top:10px;
	left:-5px;
	border-radius:0 5px 5px 0px;
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
}
.oferta{background-color:#F1941B;}
.necesidad{background:#82AC29;}
.card-body{
	padding: .5rem 0.75rem;
}
h5.card-title{
	font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
	font-weight:600!important;
	margin: 10px 0;
}
.card-body h6{
	color:#BC7015;
	font-weight:600;
	margin-top:8px;
}
.card-body span{
	font-size: calc(12px + (13 - 12) * ((100vw - 300px) / (1600 - 300)));
	line-height:1.0!important;
}
p.card-text{
	font-size:14px;
	line-height:1.3;
	font-weight:400!important;
	color:#000;
}
.card-footer{
	border-top:1px solid #D1E0DB;
	color:#2E6663!important;
	background:transparent;
	padding: .5rem 0.75rem;
	text-align:right!important;
}

.text-muted  {
	font-size:calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
	font-weight:600!important;
	color:#326668!important;
}
.text-muted i{
	margin-right:5px!important;
}
a.togglelink{
	font-size:16px;
	border-bottom:1px solid #f1931a;
	padding-bottom:3px;
	display:block;
}
a.togglelink{
	font-size:16px;
	border-bottom:1px solid #f1931a;
	padding-bottom:3px;
	display:block;
}
a.togglelink i{
	float:right;
}
/*******EDITAR PERFIL*******/
.edicion, .notacompleta{
	background:#fff;
	padding:30px 30px;
	border-radius:10px;
}
#no-more-tables tr{
	border-bottom:1px solid #ccc;
}
#no-more-tables td{
	padding:10px 0;
	width:50%;
}
.ajax_widget input[type="text"]{
	width:100%!important;
}
.ajax_widget input[type="file"]{
	margin-top:10px!important;
}
td.negrita{font-weight:600!important;}
@media only screen and (max-width: 800px) {
        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
        display: block;
        }
         
        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }
         
        #no-more-tables tr { border-bottom: 1px solid #ccc; }
          
        #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #fff;
        position: relative;
        padding-left: 7px 0%;
        white-space: normal;
        text-align:left;
			font-weight:400;
			width:100%
        }
         
        #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        }
        
}
/********NOTA COMPLETA**********/

.carousel-control-prev,
.carousel-control-next{
	background:transparent;
	border:none;
}
.notacompleta h2{
	font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)))!important;
	font-weight:600!important;
}
.notacompleta .etiqueta{
	position:absolute;
	top:25px;
	left:-5px;
	z-index:100;
}

h3.publicado-por{
	font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
	font-weight:600;
}
.collapse{
	margin-top: 20px;
	text-align:left;
	padding:0 0 20px 0;
}
.notacompleta .collapse .card{
	background:transparent;
}
.collapse .card.card-body{
	margin-bottom:0;
	background:#fff!important;
}
.anteriores h4{
	color:#F1931A;
	font-weight:700;
	margin-bottom:20px;
}
.cada-comentario{
	border-bottom: 1px dotted #666;
}
.cada-comentario h5{
	font-size:1rem;
font-weight:600;
}
.cada-comentario p{
	font-style:italic;
}
.cada-respuesta p{
	font-style:normal;
	font-weight:400;
}
a.responder{
	border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    line-height: 1.57143;
    padding: 8px 20px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s, width 0.2s linear 0s, background-color 0.2s linear 0s;
    border: none;
    background: #F1931A;
    color: #fff;
	margin: 10px 2px 5px 2px;
	font-weight:700;
	display:inline;
	color:#fff;
	text-align:right;
}
.cada-comentario .card.card-body{
	background:#fff;
}
a.acepto{
	background:#EA4477;
	color:#fff;
	font-weight:700;
	border-radius:5px;
	padding:15px 50px;
	border:1px #82AC29;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}
a.acepto:hover,
a.acepto:focus{
	background:#F1941B;
	border:1px #F1941B;
}
.collapse#seguro{
	margin-top:10px;
}
.collapse#seguro .card{
	border:1px solid #F1941B;
	background:#FAD9AF;
}
a.confirmacion{
	color:#F1941B;
	border:2px solid #F1941B;
	border-radius:10px; 
	padding:8px 25px;
	font-weight:600;
}
a.confirmacion:hover,
a.confirmacion:focus{
	background:#F1941B;
	color:#fff;
}
 p.text-left.interesado{
	text-align:center!important;
	font-weight:800!important;
	 background:#FCBEE4;
	padding:0 20px 20px 20px;
	border-radius:10px;
}



/*********TODAS LAS PUBLICACIONES*********/
.todas{
	background-color:rgba(255,255,255,0.80);
	padding:50px 0;
}
.todas h2{
	color:#13302E;
	font-weight:600;
	font-size: calc(22px + (30 - 22) * ((100vw - 300px) / (1600 - 300)));
	display:inline-block;
}
.bienvenido h5{
	font-size: calc(22px + (30 - 22) * ((100vw - 300px) / (1600 - 300)));
	font-weight:800;
	margin-bottom:20px;
	color:#F1941B;
}
.bienvenido p{
	font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.inicia{
	font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1600 - 300)));
	font-weight:600;
}
a.reg{
	background:#82AC29;
	color:#fff;
	font-weight:700;
	border-radius:5px;
	padding:15px 50px;
	border:0px #82AC29;
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}
a.reg:hover,
a.reg:focus{
	background:#F1941B;
	border:0px #F1941B;
}

/*********PIE**********/
.pie{
	border-top:1px solid #D1E0DB;
	color:#fff;
}
.pie a{
	color:#BFE870;
}
.pie a:hover,
.pie a:focus{
	color:#F1941B;
}
.logo-pie{
	max-width:250px;
}

/*********RESULTADO DE LA BÚSQUEDA**********/

.resultado{font-weight:800;}
.resultado q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.resultado q:before {
    content: open-quote;
}
.resultado q:after {
    content: close-quote;
}
/***********RECUPERAR CONTRASEÑA************/

.recupera{
	background:#fff;
	border-radius: 8px;
	margin-top:25vh;
	margin-bottom:20vh;
	padding-bottom:30px;
}
.recupera label{
	margin-bottom:20px;
	font-weight:400;
}
.recupera input[type="email"]{
	width:100%;
	border:1px solid #82AC29;
	border-radius:4px;
	padding:10px;
	height:40px;
	margin-bottom:20px;
}
.recupera input[type="submit"]{
	background: #82AC29;
	border-radius:8px;
	padding:0 40px ;
	height:40px;
	text-align:center;
	color:#fff;
	font-weight:600;
	margin: 0px auto!important;
	display:block;
	border:0px transparent;
}
.recupera input[type="submit"]:hover,
.recupera input[type="submit"]:focus{
	background: #F1941B;
}

/******MEDIA QUERIES********/
/*Moviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {
	.bg-index{height:auto;}
	.logueo{background:none;}
	.frase-intro{height:50vh;}
	.frase-intro img{max-width:300px;margin-top:5vh;}
	.ingreso{margin-top:5vh;}
	.edicion{padding:30px 10px;}
	.contenidos .nav-link {padding: 0.8rem 0.3rem!important;}
	label.custom-control-label{margin-bottom:10px;}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.tab-content .card-columns {
 column-count: 2;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.tab-content .card-columns {
 column-count: 2;
  }
}




/*********fin mediaquery*********/

