.scroller {
    font-weight: bold;
}

.scroller_actual {
    font-weight: bold;
    font-size: larger;
    color: black;
}   

/* TABLE EDIT STYLES */

.te_help {
    font-size: xx-small;
    color: #FFFFFF;
	background: #589868;
}

.te_help_link {
	font-size: xx-small;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}

.te_button_text {
    font-size: xx-small;
    font-weight : bold;
    color: black;
    border : thin;
}

.te_no_item_msg {
    font-weight : bold;
}

.te_search_td {
	color: #4A4A4A;
    font-weight : bolder;
}

.te_search_table {
	color: #4A4A4A;
    border: thin solid White;
}

.te_child_header {
; font-size: large; font-weight: bold
; border-style: none; border-top-width: medium; border-bottom-width: medium}

/* Browse view */

.te_b_table  {
	color: #4A4A4A;
	border : thin solid White;
}

.te_b_td  {
	color: #4A4A4A;
}

.te_b_row1  {
    background-color : #ADD8E6;
}

.te_b_row2  {
}

.te_b_row_over {
    background-color : #FF0000;
}

.te_b_col_head {
	font-weight : bold;
}

.te_b_col_hint {
	font-size: xx-small;
}

/* Edit view */

.te_e_table  {
	color: #4A4A4A;
	border : thin solid White;
}

.te_e_td {
	color: #4A4A4A;
}

.te_e_col_head {
	font-weight : bold;
}

.te_e_col_hint {
	font-size : x-small;
}

